<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Cancellation</title>
    <link rel="stylesheet" href="/CSS/cancelOrder.css">
</head>
<body>
    <header>
        <div class="logo">STI</div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="order.html">Order Uniform</a></li>
                <li><a href="viewInventory.html">View Inventory</a></li>
                <li><a href="trackOrders.html">Track Orders</a></li>
            </ul>
        </nav>
        <a href="#" id="login-btn">Login</a>
    </header>

    <main>
        <div class="cancelOrder">
          <p class="title">Request Order Cancellation</p>
          <form action="" method="post">
            <input
              type="text"
              name="orderID"
              id="orderID"
              placeholder="Enter your Order ID (e.g Order-4568)"
              required
            />
            <textarea
              name="reason"
              id="cancelReason"
              placeholder="Put your reason here"
            ></textarea>
            <button type="submit">Submit</button>
          </form>
        </div>
    </main>

</body>
</html>