<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- This is for ADMIN -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="/CSS/loginStyle.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <img src="/Images/download.png" id="logo" /> -->
    <div class="loginBox">
      <form>
        <div class="loginText">
          <p>Log In</p>
        </div>

        <div class="input-box">
          <input
            type="text"
            name="username"
            id=""
            placeholder="Username"
            required
          />
          <i class="bx bxs-user"></i>
        </div>
        <div class="input-box">
          <input
            type="password"
            name="password"
            id=""
            placeholder="Password"
            required
          />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <a href="adminDashboard.html">
            <button type="button">Log In</button>
        </a>
      </form>
    </div>
  </body>
</html>
