<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Inventory</title>
    <link rel="stylesheet" href="/CSS/viewInventory.css">
</head>
<body>
    <header>
        <div class="logo">STI</div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="order.html">Order Uniform</a></li>
                <li><a href="viewInventory.html">View Inventory</a></li>
                <li><a href="trackOrders.html">Track Orders</a></li>
            </ul>
        </nav>
        <a href="#" id="login-btn">Login</a>
    </header>
</body>
</html>